.upper-footer {
    background-color: #f1f7fe;
    padding: 20px 0px 0 0;
    .navbar-nav {
        @media(min-width: 769px) {
            float: right !important;
        }
    }
    h5{
        color: white;
        margin-bottom: 25px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 150px;
            height: 2px;
            background-color: white;
            bottom: -10px;
            right: 0px;

        }
    }
    p{
        color: white;
        font-size: 12px;
    }
    li{
        // margin: 10px 0px;
        a{
            // color: white;
            padding: 5px 12px !important;
            font-size: 14px;
        }
        &.active {
            a {
                color: $stColor;
            }
        }
    }
}
.lower-footer {
    padding: 0 0 1rem 0;
    background-color: #f1f7fe;
    .social-media{
        @media(min-width: 769px) {
            text-align: right;
        }
        li{
            display: inline-block;
            padding: 1px;
            border-radius: 50%;
            text-align: center;
            a{
                font-size: 22px;
            }
            &:last-child {
                background-color: transparent;
                a{
                    color: #fff;
                    font-size: 25px;
                }
            }
        }
    }
}
.mb-0 {
    margin-bottom: 0 !important;
}
.pt-18 {
    padding-top: 18px !important;
}